html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

header {
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #243f85;
  color: #eebb01;
}

.header {
  text-align: center;
  padding: 5vh;
}

.buttons {
  text-align: center;
}

.description,
.github {
  padding: 5vh;
  text-align: center;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #2d5bd1;
}

.subscribe,
.unsubscribe {
  background-color: #243f85;
}

button:disabled {
  background-color: grey;
}

.notSupported {
  padding: 2vh;
}
